<ion-header collapse="fade">
  <ion-toolbar>
    <ion-title size="large"> Mansion d'Olivers </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <div id="promo">
      <ion-card>
        <ion-card-header> PROMOÇÃO DO DIA </ion-card-header> 
        <ion-card-content> <img src="/assets/PetitGateau.png">
          Entrada + Refeição + sobremesa
        </ion-card-content>
        <ion-button expand="full" color="dark" (click)="showpromo()" > Saiba mais </ion-button>
      </ion-card>
    </div>
    <div id="categ">
      <strong> Cardápio </strong>
      <ion-list>
        <ion-item>
          <ion-card>
            <ion-card-header> Entradas e Refeições </ion-card-header>
              <ion-card-content> 
                <a href="refeicao"><img src= "/assets/entradasRefs.jpg"></a>
              </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item>
          <ion-card>
            <ion-card-header>Lanches</ion-card-header>
            <ion-card-content> 
              <a href="lanches"><img src="/assets/Lanches.jpg"></a>
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item> 
          <ion-card>
            <ion-card-header>Sobremesas</ion-card-header>
            <ion-card-content> 
              <a href="sobremesa"><img src="/assets/sobremesas.jpg"></a>
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item>
          <ion-card>
            <ion-card-header>Bebidas</ion-card-header>
            <ion-card-content> 
              <a href="bebidas"><img src="/assets/bebidas.jpg"></a>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
    </div>
    <div id="galeria">
      <strong> Aqui vem as imagens da galeria </strong>
      <ion-list>
        Imagens Aqui
      </ion-list>
    </div>
  </main>
  
  <footer>
    <strong> Aqui vem as aqui é o rodapé </strong>
  </footer>
</ion-content>
