#promo {
  text-align: center;
  
 padding-top: 3%;
 padding-bottom: 3%;
 left: 0;
 right: 0;
}
#categ  {
  text-align: center;

  background-color: #257e31; /*cor provisória para divisão das DIV */
  padding-top: 3%;
  padding-bottom: 3%;
  left: 0;
  right: 0;
}

#galeria {
  text-align: center;

  background-color: #0312e6; /*cor provisória para divisão das DIV */
  padding-top: 3%;
  padding-bottom: 3%;
  left: 0;
  right: 0;
}

footer{
  text-align: center;

  background-color: #b30b0b; /*cor provisória para divisão das DIV */
  padding-top: 3%;
  padding-bottom: 3%;
  left: 0;
  right: 0;
}