
.titulo{
  text-align: center;
}

.titulo ion-title{
  font-size: 32px;
}
/* CARD PROMOCIONAL */
#promo {
  text-align: center;
  
 padding-top: 3%;
 padding-bottom: 3%;
 left: 0;
 right: 0;
}
#promo ion-button{
  padding: 4px;
}

.promocard{
  background: linear-gradient(rgba(0, 0, 0, 0.979),rgba(0,0,0,.50) 100%)
}

/* LISTA DE CATEGORIAS */
.seção{
  text-align: center;
}


#categ  {
  text-align: center;

  padding-top: 3%;
  
  padding-bottom: 3%;
  left: 0;
  right: 0;
}


#categ ion-card{
  background: linear-gradient(rgba(0, 0, 0, 0.979),rgba(0,0,0,.50) 100%)
}

/* GALERIA */
.swiper {
  text-align: center;

  padding-top: 3%;
  padding-bottom: 3%;
  left: 0;
  right: 0;
}

.swiper-wrapper img{
  width: 80%;
  margin: 15px;


}

.swiper-wrapper ion-card{
  
  background: linear-gradient(rgba(0, 0, 0, 0.979),rgba(0,0,0,.50) 100%);
}

/* FOOTER */
footer{
  text-align: center;

  background-color: #961325; /*cor provisória para divisão das DIV */
  padding-top: 3%;
  padding-bottom: 3%;
  left: 0;
  right: 0;
}
