<ion-header collapse="fade">
  <ion-toolbar>
    <ion-title size="large"> Mansion d'Olivers </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <div id="promo">
      <ion-card>
        <ion-card-header> PROMOÇÃO DO DIA </ion-card-header> 
        <ion-card-content> <img src="/assets/PetitGateau.png">
          Entrada + Refeição + sobremesa
        </ion-card-content>
        <ion-button expand="full" color="dark" (click)="showpromo()" > Saiba mais </ion-button>
      </ion-card>
    </div>
    <div id="categ">
      <strong> Categorias </strong>
      <ion-list>
        <ion-item>
          Entradas e Refeições
        </ion-item>
        <ion-item>
          Lanches
        </ion-item>
        <ion-item> 
          Sobremesas
        </ion-item>
        <ion-item>
          Bebidas
        </ion-item>
      </ion-list>
    </div>
    <div id="galeria">
      <strong> Aqui vem as imagens da galeria </strong>
      <ion-list>
        Imagens Aqui
      </ion-list>
    </div>
  </main>
  
  <footer>
    <strong> Aqui vem as aqui é o rodapé </strong>
  </footer>
</ion-content>
